/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

.btn {
  box-shadow:inset 0px 1px 0px 0px #fff;
  border-radius:6px;
  border:1px solid #777;
  text-shadow: -1px -1px #777;
  display: block;
  color: #093169;
  font-weight:bold;
  padding:10px 15px;
  text-decoration:none;
  text-align: center;
}
/* All the rest */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
body {
  font-size: 1em;
  line-height: 1.5em;
  color: #555;
}
h1, h2, h3 {
  font-family: "Lobster13Regular";
  color: #093169;
  font-weight: normal;
}
a.siteTitle {
  text-decoration: none;
}
img {
  box-shadow: 1px 1px 4px #808080;
}
.siteTitle img {
  display: block;
  margin: 10px auto;
  box-shadow: none;
}
a.siteTitle h1 {
  text-transform: uppercase;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 0.8em;
  text-align: center;
}
footer.site {
  font-size: 0.8em;
}
.strapline {
  height: 300px;
  margin-top: -300px;
  background-color: rgba(0, 0, 0, 0.35);
  /* Background color RGBA effect for <= IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#70000000);
  width: 100%;
  position: relative;
}
.strapline h2,
.strapline i {
  text-align: center;
  position: absolute;
  font-size: 2em;
  color: white;
  width: 100%;
  line-height: 1.2em;
}
.strapline h2 {
  top: 50%;
  margin-top: -0.8em;
}
.strapline i {
  bottom: 10%;
}
.committeeImage img {
  height: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
section h2 {
  font-size: 2em;
  line-height: 1em;
  text-align: center;
}
.spiel section:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
header.site {
  background-color: rgba(0, 0, 0, 0.05);
  color: #093169;
  padding-bottom: 30px;
}
.quotes img {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.hero-unit {
  background-image: url("/img/montage/montage-mk3-web.jpg");
  height: 300px;
}
nav {
  overflow: auto;
  text-align: right;
}
nav,
.spiel section h2,
.onecol, .twocol, .threecol, .fourcol,
.fivecol, .sixcol, .sevencol, .eightcol,
.ninecol, .tencol, .elevencol, .twelvecol {
  padding-top: 30px;
  padding-bottom: 30px;
}
nav a {
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  margin-left: 10px;
  border-bottom: 2px solid #093169;
}
nav a,
.attention {
  color: #093169;
}
.attention {
  font-weight: bold;
}
small {
  text-transform: uppercase;
  color: #999;
}
/* And for just looking like a small element */
.small-caps {
  text-transform: uppercase;
  color: #999;
  font-size: 0.8em;
}
.invert.btn {
  text-shadow: 0 -1px 0px #334a7f;
}
.invert {
  background-color: #093169;
  border-top: 1px solid #334a7f;
  border-bottom: 1px solid #334a7f;
}
.invert,
.invert * {
  color: white;
}
.bigicon {
  text-align: center;
}
.bigicon a {
  color: #093169;
  text-decoration: none;
}
.bigicon a:hover,
.bigicon a:active,
.bigicon a:focus {
  color: #c2a303;
}
.bigicon i {
  font-size: 6em;
}
a.invert:hover,
a.invert:active,
a.invert:focus,
.invert a:hover,
.invert a:active,
.invert a:focus,
nav a:hover,
nav a:active,
nav a:focus {
  color: #c2a303;
  border-bottom-color: #c2a303;
}
a img {
  border: none; /* Minor IE9 thing */
}
/* Minor overrides */
.container {
  padding-left: 0;
  padding-right: 0;
}
.container .row {
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
iframe.videoEmbed {
  width: 100%;
  height: 250px;
  border: none;
}
/* Thumbnails */
.thumbnail img {
  display: block;
  margin: 0 auto;
}
.thumbnail * {
  text-align: center;
}
/* Bootstrap blockquotes */
blockquote {
  padding: 0 0 0 15px;
  border-left: 5px solid #ddd;
  margin: 30px auto;
}
blockquote p {
  margin-bottom: 0;
  font-weight: 300;
}
blockquote small::before {
  content: '\2014 \00A0';
}
blockquote small {
  display: block;
}
.massive {
  font-size: 2.5em;
  line-height: 1em;
}
.btn-primary {
  background-color: #a6bc00;
  color: white !important;
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

.spiel section h2 {
  border-bottom: 1px solid white;
  border-top: 1px solid #c6c6c6;
  background-color: #093169;
  color: white;
}
.spiel section:first-of-type h2 {
  background-color: transparent;
  color: #093169;
  border: none;
}

}

/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}
