<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    {% if page.meta_description %}
      <meta name="description" content="{{page.meta_description}}">
    {% else %}
      <meta name="description" content="{{site.meta_description}}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} &middot; {% endif %}Surrey BLDC</title>
    <link rel="stylesheet" type="text/css" href="/fonts/Lobster-fontfacekit/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/cssgrid/1140.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="/css/cssgrid/ie.css" type="text/css" media="screen">
      <script type="text/javascript" src="js/css3-mediaqueries.js"></script>
      <script type="text/javascript" src="/js/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33105008-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <header class="site">
        <nav class="row">
          <a href="/index.html">
            <i class="icon-home"></i> Home
          </a>
          <a href="/faqs.html">
            <i class="icon-question-sign"></i> FAQs
          </a>
          <a href="/competitions.html">
            <i class="icon-trophy"></i> Compete
          </a>
          <a href="/about.html">
            <i class="icon-info-sign"></i> About
          </a>
        </nav>
        <div class="row">
          <div class="twelvecol">
            <a href="/index.html" title="Home page" class="siteTitle">
              <img src="/img/logo/dancers-surrey-colours-web.png" alt="Club logo">
              <h1>Surrey BLDC</h1>
            </a>
          </div>
        </div>
      </header>
      <div class="hero-unit">
      </div>
      <div class="strapline">
        <h2>
          {% if page.longtitle %}
            {{ page.longtitle }} 
          {% else %}
            The home of university dancesport at Surrey.
          {% endif %}
        </h2>
        <i class="icon-circle-arrow-down"></i>
      </div>
      {{ content }}
      <footer class="site invert">
        <div class="row">
          <div class="fourcol">
            <h4><i class="icon-link"></i> You may also like</h4>
            <ul>
              <li><a href="http://www.dancerite.co.uk/">Dancerite</a> Our teachers’ school in Camberley.</li>
              <li><a href="http://www.dsi-london.com/">DSI</a> Show them your uni ID card for shoes, costumes, etc. at a 25% student discount.</li>
            </ul>
          </div>
          <div class="fourcol">
            <h4><i class="icon-group"></i> Affiliations</h4>
            <p>Surrey BLDC is a part of the <a href="http://www.ussu.co.uk">University of Surrey Students' Union</a>. Inter-varsity competitive activities are governed by <a href="http://www.universitydancesport.com/">University Dancesport (IVDA)</a>.</p>
          </div>
          <div class="fourcol last">
            <h4><i class="icon-legal"></i> Legal</h4>
            <p>&copy; Surrey BLDC and Chris Kilding, 2012. All rights reserved. All trademarks are the property of their respective owners.</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
