<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="The website of the University of Surrey Ballroom and Latin Dance Club.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surrey BLDC {% if page.title %} &middot; {{ page.title }} {% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/fonts/Lobster-fontfacekit/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">
    <!-- 1140px Grid styles for IE -->
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="css/cssgrid/1140.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <!-- Enable media queries in misbehaving browsers -->
    <script type="text/javascript" src="js/css3-mediaqueries.js"></script>
    <script type="text/javascript" src="js/nav-toggle.js"></script>
  </head>
  <body>
    <div class="container">
      <header class="site">
        <nav class="row">
          <a href="mailto:ussu.ballroom@surrey.ac.uk">
            <i class="icon-envelope"></i> Contact
          </a>
          <a href="http://www.facebook.com/">
            <i class="icon-facebook-sign"></i> Group
          </a>
          <a href="http://eepurl.com/gOKcn">
            <i class="icon-list-alt"></i> Mailing list
          </a>
          <a href="http://www.ussu.co.uk/">
            <i class="icon-shopping-cart"></i> Store
          </a>
        </nav>
        <div class="row">
          <a href="/index.html" title="Home page" class="siteTitle">
            <img src="/img/dancers-surrey-colours-web.png" alt="Club logo">
            <h1>Surrey BLDC</h1>
          </a>
        </div>
      </header>
      {{ content }}
      <footer class="site invert">
        <div class="row">
          <div class="fourcol">
            <h4><i class="icon-link"></i> You may also like</h4>
            <ul>
              <li><a href="http://www.dancerite.co.uk/">Dancerite</a> Our teachers’ school in Camberley.</li>
              <li><a href="http://www.dsi-london.com/">DSI</a> Show them your uni ID card for shoes, costumes, etc. at a 25% student discount.</li>
            </ul>
          </div>
          <div class="fourcol">
            <h4><i class="icon-group"></i> Affiliations</h4>
            <p>Surrey BLDC is a part of the <a href="http://www.ussu.co.uk">University of Surrey Students' Union</a>. Inter-varsity competitive activities are governed by <a href="http://www.universitydancesport.com/">University Dancesport (IVDA)</a>.</p>
          </div>
          <div class="fourcol last">
            <h4><i class="icon-legal"></i> Legal</h4>
            <p>&copy; Surrey BLDC and Chris Kilding, 2012. All rights reserved. All trademarks are the property of their respective owners.</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
