<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="The website of the University of Surrey Ballroom and Latin Dance Club.">
    <title>Surrey BLDC {% if page.title %} &middot; {{ page.title }} {% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/fonts/Lobster-fontfacekit/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/960gs/960_12_col.css">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="site">
      <nav class="container_12">
        <a class="grid_1" href="/index.html">
          <i class="icon-home"></i>
          <br>
          <small>Home</small>
        </a>
        <a class="grid_1" href="/history.html">
          <i class="icon-info-sign"></i>
          <br>
          <small>History</small>
        </a>
        <a class="grid_1" href="/competitions.html">
          <i class="icon-trophy"></i>
          <br>
         <small>Comps</small>
        </a>
        <a class="grid_1" href="/faqs.html">
          <i class="icon-question-sign"></i>
          <br>
          <small>FAQs</small>
        </a>
        <a class="grid_1" href="/articles.html">
          <i class="icon-pencil"></i>
          <br>
          <small>Articles</small>
        </a>
        <div class="grid_2">
          <img src="/img/dancers-surrey-colours-web.png" alt="Club logo">
          <h1>Surrey BLDC</h1>
        </div>
        <a class="grid_1" href="mailto:ussu.ballroom@surrey.ac.uk">
          <i class="icon-envelope"></i>
          <br>
          <small>Email us</small>
        </a>

        <a class="grid_1" href="http://www.facebook.com/">
          <i class="icon-facebook-sign"></i>
          <br>
          <small>Group</small>
        </a>

        <a class="grid_1" href="http://eepurl.com/gOKcn">
          <i class="icon-list-alt"></i>
          <br>
          <small>Mailing list</small>
        </a>

        <a class="grid_1" href="http://www.ussu.co.uk/">
          <i class="icon-shopping-cart"></i>
          <br>
          <small>Store</small>
        </a>

        <a class="grid_1" href="http://spotify.com">
          <i class="icon-music"></i>
          <br>
          <small>Music</small>
        </a>
      </nav>
    </header>
    {{ content }}
    <footer class="site">
      <div class="container_12">
        <div class="grid_5">
          <h4><i class="icon-legal"></i> Legal</h4>
          <p>&copy; Surrey BLDC and Chris Kilding, 2012. All rights reserved.</p>
          <p>Facebook is a registered trademark of Facebook, Inc. All other trademarks are the property of their respective owners. Any Creative Commons works are used under their respective licenses.</p>
        </div>
        <div class="grid_5 suffix_1">
          <h4><i class="icon-link"></i> Useful resources</h4>
          <ul style="margin-left: 0">
            <li><a href="http://www.dancerite.co.uk/">Dancerite</a> Our teachers’ school in Camberley.</li>
            <li><a href="http://www.dsi-london.com/">DSI</a> Show them your uni ID card for shoes, costumes, etc. at a 25% student discount.</li>
            <li><a href="http://www.universitydancesport.com/">University Dancesport (IVDA)</a> The organisation which coordinates our sport across all British universities.</li>
          </ul>
        </div>
        <div class="grid_1">
          <a href="http://www.w3.org/html/logo/">
            <img style="padding-top: 40px" src="http://www.w3.org/html/logo/badge/html5-badge-v-css3-semantics.png" width="38" height="138" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics">
          </a>
        </div>
      </div>
    </footer>
  </body>